html, body{
	background-color: #f2f2f2;
	font-family: "Trebuchet MS";
}

#mainContainer{
	height: auto;
	width: auto;
	overflow-y: scroll;
}

.navigationMenu{
	background-color: #333330;
	width: 8%;
	height: 200%;
}

.contentMenu{
	width: 92%;
	height: 100%;
}

.leftMenuTop{
	background-color: #3cb1e6;
	height: 40px;
}

.rightMenuTop{
	background-color: #d8d8d8;
	height: 40px;
}

.leftPanel{
	float: left;
}

.rightPanel{
	float: right;
}

.filterSummary{
	vertical-align: middle;
	padding: 8px;
	height: 50px;
	font-size: 18px;
}

.searchContainer{
	height: 40px;
	border: none;
	background: #ffffff url(../images/search_magnifier.png) no-repeat scroll 7px 10px;
	width: 92%;
	margin: 5px 15px 5px 15px;
	text-indent: 40px;
	font-size: 18px;
	color: gray;
	font-weight: bold;
}

.filterCategories, .previewFileList{
	white-space: nowrap;
	padding-left: 15px;
}

#filterResult{
	padding-left: 10px;
}

.filterCategories li, .previewFileList li{
	display: inline-block;
	font-size: 14px;
	padding: 0px 5px 0px 5px;
}

.filterCategories li input[type="checkbox"]:checked{
	background-color: #3cb1e6 !important;
}

.resultContent{
	background-color: #ffffff;
	margin: 5px 15px 5px 15px;
}

.navMenuList{
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
}

.navMenuList li{
	height:104px;
	background: transparent url("../images/nav_delimit.png") no-repeat scroll 0px 102px;
}

.navMenuList li img{
	padding: 22px 22px;
}

.navItemActive{
	background: #f2f2f2 url("../images/nav_delimit.png") no-repeat scroll 0px 104px !important;
	border-left: 5px solid #16aa4a;
}

.navItemActive img{
	padding: 22px 17px !important;
}

.resultList li{
	list-style-type: none;
	border-bottom: 1px solid #f4f4f4;
	border-left: 5px solid #e5e5e5;
	padding-bottom: 20px;
	padding-top: 20px;
	min-height: 70px;
	width: 50%;
}

.previewFileList li{
	border: none;
}

.resultRecord{
	padding: 10px 40px 10px 40px;
}

.timelineIcon{
	margin-left: -20px;
	margin-top: 2%;
	margin-bottom: 30px;
}

.dateIcon{
	margin-left: -50px;
	background-color: #e5e5e5;
	font-weight: bold;
	font-size: 12px;
}

.docAttachment{
	background: url("../images/doc_icon.png") no-repeat scroll 10px 0px;
	height: 50px;
	float:left;
	padding-left: 60px;
}

.xlsAttachment{
	background: url("../images/excel_icon.png") no-repeat scroll 10px 0px;
	height: 50px;
	float:left;
	padding-left: 60px;
}

.timelineLabel{
	font-weight: bold;
}

.docAttachment div.subText, .xlsAttachment div.subText{
	font-size: 13px;
	color: gray;
	font-weight: bold;
}

.author{
	font-weight: normal;
	font-size: 12px;
}

.link{
	color: #3482a5;
	font-weight: bold;
	font-size: 13px !important;
}

.commentLink{
	text-decoration: none;
	color: #000000;
}

.tagLink{
	background-color: #666666;
	font-weight: bold;
	color: #ffffff;
	margin-top: 10px;
	text-decoration: none;
}

.discussionPreview{
	padding-left: 60px;
}

.thumbnail{
	height: 140px;
    margin-left: 20px;
    margin-right: 20px;
}

.roundImage{
	border-radius: 35px;
}

.todoSection{
	width: 92%;
	padding-left: 60px;
	padding-bottom: 20px;
}

.completed{
	text-decoration: line-through;
	color: gray;
	opacity: 0.6;
}