html, body{
	background-color: #f2f2f2;
	font-family: "Trebuchet MS";
}

.highlightText{
	background-color: #e9f8fb;
}

#mainContainer{
	height: auto;
	width: auto;
	overflow-y: scroll;
}

.navigationMenu{
	background-color: #333330;
	width: 8%;
	height: 200%;
}

.contentMenu{
	width: 92%;
	height: 100%;
}

.leftMenuTop{
	background-color: #3cb1e6;
	height: 40px;
}

.rightMenuTop{
	background-color: #d8d8d8;
	height: 40px;
}

.leftPanel{
	float: left;
}

.rightPanel{
	float: right;
}

.filterSummary{
	vertical-align: middle;
	padding: 8px;
	height: 50px;
	font-size: 18px;
}

.searchContainer{
	height: 40px;
	border: none;
	background: #ffffff url(../images/search_magnifier.png) no-repeat scroll 7px 10px;
	width: 92%;
	margin: 5px 15px 5px 15px;
	text-indent: 40px;
	font-size: 18px;
	color: gray;
	font-weight: bold;
}

.filterCategories, .previewFileList{
	white-space: nowrap;
	padding-left: 15px;
}

#filterResult{
	padding-left: 10px;
}

.filterCategories li, .previewFileList li{
	display: inline-block;
	font-size: 14px;
	padding: 0px 5px 0px 5px;
}

input[type=checkbox]{
	margin-right: 10px !important;
	margin-left: 10px !important;
}

input[type=checkbox]:checked:after {
    content: '■';
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	color: #3cb1e6;
    display: inline-block;
	text-align:center;
    width: 10px;
    font-size: 18px;
	vertical-align: middle;
	margin-top: -8px;
	padding-left: 5%;
}


.resultContent{
	background-color: #ffffff;
	margin: 5px 15px 5px 15px;
}

.navMenuList{
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
}

.navMenuList li{
	padding: 20% 5% 20% 5%;
	vertical-align: middle;
	text-align: center;
	border-bottom-style: ridge;
	border-bottom-color: rgba(0, 0, 0, 0.2);
}

.navMenuList li a{
	text-decoration: none;
}

.navMenuList li img{
	vertical-align: middle;
	position: relative;
	z-index: 10;
}

.navItemActive{
	border-bottom-style: ridge;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	border-left: 5px solid #16aa4a;
	background-color: #f2f2f2;
}

.navItemActive img{
	padding: 22px 17 px !important;
	vertical-align: middle;
	position: relative;
	z-index: 10;
}

.resultList li{
	list-style-type: none;
	border-bottom: 1px solid #f4f4f4;
	border-left: 5px solid #e5e5e5;
	padding-bottom: 20px;
	padding-top: 20px;
	min-height: 70px;
	width: 90%;
}

.resultList li div.content{
	width: 50% !important;
}

.previewFileList li{
	border: none;
}

.resultRecord{
	padding: 10px 40px 10px 40px;
}

.timelineIcon{
	margin-left: -20px;
	margin-top: 2%;
	margin-bottom: 30px;
}

.dateIcon{
	margin-left: -50px;
	background-color: #e5e5e5;
	font-weight: bold;
	font-size: 12px;
}

.docAttachment{
	background: url("../images/doc_icon.png") no-repeat scroll 10px 0px;
	height: 50px;
	float:left;
	padding-left: 60px;
}

.xlsAttachment{
	background: url("../images/excel_icon.png") no-repeat scroll 10px 0px;
	height: 50px;
	float:left;
	padding-left: 60px;
}

.timelineLabel{
	font-weight: bold;
}

.docAttachment div.subText, .xlsAttachment div.subText{
	font-size: 13px;
	color: gray;
	font-weight: bold;
}

.author{
	font-weight: normal;
	font-size: 12px;
}

.link{
	color: #3482a5;
	font-weight: bold;
	font-size: 13px !important;
}

.commentLink{
	text-decoration: none;
	color: #000000;
}

.tagLink{
	background-color: #666666;
	font-weight: bold;
	color: #ffffff;
	margin-top: 10px;
	text-decoration: none;
}

.discussionPreview{
	padding-left: 0px;
}

.thumbnail{
	height: 140px;
    margin-left: 20px;
    margin-right: 20px;
}

.roundImage{
	border-radius: 50%;
}

.todoSection{
	width: 92%;
	padding-left: 60px;
	padding-bottom: 20px;
}

.completed{
	text-decoration: line-through;
	color: gray;
	opacity: 0.6;
}

.userImage{
	border: 5px solid gray;
	vertical-align: middle;
	width: 40%;
	height: 40%;
	position: relative;
	z-index: 10;
}

.navItemActive img.userImage{
	border: 5px solid gray;
	width: 40%;
	height: 40%;
	vertical-align: middle;
	position: relative;
	z-index: 10;
}

.notificationBg{
	background-color: gray;
	background-size: 80px 60px;
	border-radius: 50%;
	border-radius: 50%;
	margin-left: -10px;
	display: inline-block;
}

.activeNotificationBg{
	background-color: #16aa4a;
	background-size: 80px 60px;
	font-weight: bold;
	color: #ffffff;
	border-radius: 50%;
	margin-left: -6%;
	display: inline-block;
}

.moreSection{
	padding-left: 60px;
    width: 100%;
}

.moreSection button{
	width: 100%;
    height: 40px;
    font-weight: bold;
    background-color: #f2f2f2;
	border: #f2f2f2;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	
	#mainContainer{
		height: auto !important;
		overflow: visible;
		min-height: 100%;
		width: 100% !important;
	}
	
	.navigationMenu.leftPanel{
		float: none;
	}

	.navigationMenu{
		background-color: #333330;
		width: 100%;
		height: auto;
		list-style-type: none;
	}
	
	.navMenuList{
		text-align: center;
	}
	
	.navMenuList li {
		display: inline-block;
		padding: 4px;
		vertical-align: middle;
		text-align: center;
		width: 12%;
		border-bottom: none;
		border-right: none;
	}
	
	.navMenuList li img{
		width: 100%;
	}
	
	.navItemActive{
		border-bottom: none;
		border-right-style: ridge;
		border-right-color: rgba(0, 0, 0, 0.2);
		border-top: 5px solid #16aa4a;
		border-left: none;
		background-color: #f2f2f2;
	}

	.navItemActive img{
		width: 90%;
	}
	
	.userImage{
		width: 60% !important;
	}
	
	.contentMenu{
		width: 100%;
		height: 100%;
	}
	
	.activeNotificationBg {
		background-size: 80px 60px;
		margin-left: 0px !important;
	}

	.leftMenuTop{
		display: none;
	}

	.rightMenuTop{
		background-color: #d8d8d8;
		height: 40px;
	}
	
	.searchContainer{
		width: 100%;
		margin: 0px;
	}
	
	.filterCategories, .previewFileList{
	   width: 100%;
	   padding: 0;
       white-space: pre-wrap;
	}
	
	.docAttachment, .xlsAttachment{
		height: 100%;
		word-break: break-word;
		font-size: smaller;
		padding-left: 0;
	}
	
	.docAttachment .timelineLabel, .xlsAttachment .timelineLabel{
		padding-top:20%;
	}
		
	#filterResult{
		padding: 0px;
		white-space: pre-wrap;
	}
	
	.resultList li {
		width: 100%;
		display: inline-flex;
	}
	
	.resultList li div.content{
		width: 100% !important;
	}
	
	.resultList li div{
		display: inline-block;
		padding: 0px;
	}
	
	.resultContent{
		margin: 0px;
		overflow-x: hidden;
	}
	
	.timelineLabel{
		display: block !important;
	}
	
	.previewFileList img{
		width: 90%;
	}
	
	.previewFileList li{
		display: block !important;
	}
	
	.previewFileList li div{
		margin-top : -30%
	}
	
	.moreSection{
		padding-left: 10% !important;
		width: 80%;
	}
}